In [1]:
import os
os.chdir('./..')

In [2]:
import src.data as data
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from time import time
import src.utility as utils

In [4]:
bs=data.base_structure_hours()

base structure loaded in: 0.0 s

shape of the dataframe is: (5298840, 3)

In [5]:
bs

                DATETIME_UTC  KEY    KM
0        2018-09-01 00:00:00    0   333
1        2018-09-01 00:00:00    0   337
2        2018-09-01 00:00:00    0   342
3        2018-09-01 00:00:00    0   343
4        2018-09-01 00:00:00    0   357
5        2018-09-01 00:00:00    0   385
6        2018-09-01 00:00:00    0   407
7        2018-09-01 00:00:00    0   411
8        2018-09-01 00:00:00    0   423
9        2018-09-01 00:00:00    0   443
10       2018-09-01 00:00:00    0   454
11       2018-09-01 00:00:00    0   488
12       2018-09-01 00:00:00    0   520
13       2018-09-01 00:00:00    1  1480
14       2018-09-01 00:00:00    1  1512
15       2018-09-01 00:00:00    1  1546
16       2018-09-01 00:00:00    1  1557
17       2018-09-01 00:00:00    1  1577
18       2018-09-01 00:00:00    1  1589
19       2018-09-01 00:00:00    1  1593
20       2018-09-01 00:00:00    1  1615
21       2018-09-01 00:00:00    1  1643
22       2018-09-01 00:00:00    1  1657
23       2018-09-01 00:00:00    1  1658
24       2018-09-01 00:00:00    1  1663
25       2018-09-01 00:00:00    1  1667
26       2018-09-01 00:00:00   10    79
27       2018-09-01 00:00:00  100   577
28       2018-09-01 00:00:00  101  1423
29       2018-09-01 00:00:00  102   837
...                      ...  ...   ...
5298810  2019-01-01 23:00:00   90   232
5298811  2019-01-01 23:00:00   91  1768
5298812  2019-01-01 23:00:00   91  1778
5298813  2019-01-01 23:00:00   91  1800
5298814  2019-01-01 23:00:00   91  1815
5298815  2019-01-01 23:00:00   91  1826
5298816  2019-01-01 23:00:00   92   561
5298817  2019-01-01 23:00:00   93  1439
5298818  2019-01-01 23:00:00   94   123
5298819  2019-01-01 23:00:00   94   128
5298820  2019-01-01 23:00:00   94   156
5298821  2019-01-01 23:00:00   95  1844
5298822  2019-01-01 23:00:00   95  1872
5298823  2019-01-01 23:00:00   95  1877
5298824  2019-01-01 23:00:00   96   611
5298825  2019-01-01 23:00:00   96   671
5298826  2019-01-01 23:00:00   96   678
5298827  2019-01-01 23:00:00   96   697
5298828  2019-01-01 23:00:00   97  1303
5298829  2019-01-01 23:00:00   97  1322
5298830  2019-01-01 23:00:00   97  1329
5298831  2019-01-01 23:00:00   97  1389
5298832  2019-01-01 23:00:00   98   413
5298833  2019-01-01 23:00:00   98   458
5298834  2019-01-01 23:00:00   98   532
5298835  2019-01-01 23:00:00   98   624
5298836  2019-01-01 23:00:00   99  1376
5298837  2019-01-01 23:00:00   99  1468
5298838  2019-01-01 23:00:00   99  1542
5298839  2019-01-01 23:00:00   99  1587

[5298840 rows x 3 columns]

In [8]:
a = bs[['DATETIME_UTC']].drop_duplicates()

                DATETIME_UTC
0        2018-09-01 00:00:00
1795     2018-09-01 01:00:00
3590     2018-09-01 02:00:00
5385     2018-09-01 03:00:00
7180     2018-09-01 04:00:00
8975     2018-09-01 05:00:00
10770    2018-09-01 06:00:00
12565    2018-09-01 07:00:00
14360    2018-09-01 08:00:00
16155    2018-09-01 09:00:00
17950    2018-09-01 10:00:00
19745    2018-09-01 11:00:00
21540    2018-09-01 12:00:00
23335    2018-09-01 13:00:00
25130    2018-09-01 14:00:00
26925    2018-09-01 15:00:00
28720    2018-09-01 16:00:00
30515    2018-09-01 17:00:00
32310    2018-09-01 18:00:00
34105    2018-09-01 19:00:00
35900    2018-09-01 20:00:00
37695    2018-09-01 21:00:00
39490    2018-09-01 22:00:00
41285    2018-09-01 23:00:00
43080    2018-09-02 00:00:00
44875    2018-09-02 01:00:00
46670    2018-09-02 02:00:00
48465    2018-09-02 03:00:00
50260    2018-09-02 04:00:00
52055    2018-09-02 05:00:00
...                      ...
5244990  2018-12-31 18:00:00
5246785  2018-12-31 19:00:00
5248580  2018-12-31 20:00:00
5250375  2018-12-31 21:00:00
5252170  2018-12-31 22:00:00
5253965  2018-12-31 23:00:00
5255760  2019-01-01 00:00:00
5257555  2019-01-01 01:00:00
5259350  2019-01-01 02:00:00
5261145  2019-01-01 03:00:00
5262940  2019-01-01 04:00:00
5264735  2019-01-01 05:00:00
5266530  2019-01-01 06:00:00
5268325  2019-01-01 07:00:00
5270120  2019-01-01 08:00:00
5271915  2019-01-01 09:00:00
5273710  2019-01-01 10:00:00
5275505  2019-01-01 11:00:00
5277300  2019-01-01 12:00:00
5279095  2019-01-01 13:00:00
5280890  2019-01-01 14:00:00
5282685  2019-01-01 15:00:00
5284480  2019-01-01 16:00:00
5286275  2019-01-01 17:00:00
5288070  2019-01-01 18:00:00
5289865  2019-01-01 19:00:00
5291660  2019-01-01 20:00:00
5293455  2019-01-01 21:00:00
5295250  2019-01-01 22:00:00
5297045  2019-01-01 23:00:00

[2952 rows x 1 columns]