In [1]:
import pandas as pd
from tqdm import tqdm_notebook as tqdm
import os
import numpy as np

os.chdir('..')

from src.utils import *

In [2]:
speeds_df = pd.read_csv(resources_path('dataset', 'originals', 'speeds_train.csv.gz'))
events_df = pd.read_csv(resources_path('dataset', 'originals', 'events_train.csv.gz'))
sensors_df = pd.read_csv(resources_path('dataset', 'originals', 'sensors.csv.gz'))

In [3]:
start_km = np.minimum(events_df['KM_START'].values, events_df['KM_END'].values)
end_km = np.maximum(events_df['KM_START'].values, events_df['KM_END'].values)
events_df['KM_START'] = start_km
events_df['KM_END'] = end_km

In [4]:
events_df.head(5)

,START_DATETIME_UTC,END_DATETIME_UTC,EVENT_DETAIL,EVENT_TYPE,KM_END,KM_START,KEY,KEY_2
0,2018-07-19 07:34:46,2018-08-01 15:23:17,0.0,Gestione_viabilita,959,954,523.0,523_959
1,2018-07-25 12:20:06,2018-10-12 18:29:37,1.0,Pavimentazione,1821,1814,325.0,325_1814
2,2018-08-01 07:44:00,2018-08-01 16:18:58,2.0,Manutenzione_opere_in_verde,321,282,525.0,525_321
3,2018-08-01 08:14:30,2018-08-01 17:39:13,3.0,Opera_arte,713,712,517.0,517_713
4,2018-08-01 08:18:32,2018-08-01 17:38:27,3.0,Opera_arte,2543,2542,518.0,518_2542

In [5]:
sensors_df.head(5)

     KEY  EMERGENCY_LANE    KM  LANES  ROAD_TYPE
0   44.0               0  1410      2          0
1  146.0               0  1473      2          0
2   53.0               0  1421      2          0
3  122.0               0   679      2          0
4   17.0               1  1399      3          1

In [6]:
df = events_df
print(f'Events: {len(events_df)}')
df = pd.merge(df, sensors_df, how='outer')
print(f'Merged: {len(df)}')

Events: 38008
Merged: 430588

In [ ]:
df.groupby([KEY, EVENT_TYPE]).count()

In [ ]:
df['DISTANCE'] = df.KM - (df.KM_START + (df.KM_END - df.KM_START)/2)
df.head(5)